* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
:root {
    font-family: 'Montserrat', sans-serif;;
}

.container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto 4rem;
    width: 100%;
    height: 100vh;
}
/**************************************************************
                grid items general styling 
***************************************************************/
.sidebar {
    background-color: black;
    max-height: calc(100vh - 4rem);
    display: flex;
    min-height: 0px;
    flex-direction: column;
}

.main_content {
    background-color: #141922;
    min-height: 0px;
    max-height: calc(100vh - 4rem);

}

.player {
    background-color: #282828;
    grid-area: 2 / 1 / 3 / 3;
    height: 5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
/**************************************************************
                    Sidebar items styling
***************************************************************/
.logo_wrapper {
    padding: 0.5rem 0;
    padding-right: 4rem;
}
.sidebar:first-child {
    padding: 0 1rem;

}
.sidebar ul {
    font-weight: 400;
    list-style: none;
    color: #7e7e7e;
    line-height: 2rem;
    margin-top: 2rem;
}

.sidebar ul li:first-child a{
    color: white;

}

.sidebar ul i {
    font-size: 1.7rem;
    margin-right: .5rem;
}

.sidebar ul li a {
    color: #7e7e7e;
    text-decoration: none;
}
.sidebar ul li a:hover {
    color: white;
}

.playlist {
    overflow-y: auto;
}



#space {
    flex-grow: 1;
}


.user_name {
    padding: 0;
}


.user_name a {
    text-decoration: none;
    line-height: 3.5rem;
    color: aliceblue;
}

.user_name div:first-child a{
    color: #7e7e7e;
}
.user_name div:first-child {
    border-bottom: 1px solid #7e7e7e;
}


.fa-circle-user {
    background-color: #7e7e7e;
    font-size: 1.5rem;
    border-radius: 50%;
}
/************************************************************************
                            MAIN CONTENT 
*************************************************************************/
.upgrade {
    padding: 1rem 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: row-reverse;
}

.premium_btn {
    border: 2px solid white;
    color: white;
    border-radius: 35px;
    width: fit-content;
    height: fit-content;
    padding: .5rem;
    align-self: center;
    margin-right: 2rem;
}

.upgrade .premium_btn a{
    color: white;
    text-decoration: none;
}
.upgrade .premium_btn:hover {
    transform: scale(1.1);
}

/***************MUSIC WINDOW START STYLING***************************/

.ul_menu {

    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.ul_menu li  {
    padding: 0 1rem;
}
.ul_menu li a {
    color: #797b80;
    text-decoration: none;
}
.ul_menu li a:hover {
    color: white;
}

/* MAIN WINDOW CONTENT STARTING STYLE */

.main_container {
    padding: 0 1rem;
    max-height: 70vh;
    overflow-y: auto;
}

.main_container section h1 {
    color: white;
    padding-bottom: 1rem;
    margin: 2rem 0 1rem 0;
}

/* **********************************************************
                flex row & card style start 
*/

.proposed {
    /* background-color: aqua; */
    /* width: 100%; */
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    align-content: flex-start;
    row-gap: 1rem;
    padding-bottom: 4rem;
}
.card {
    height: fit-content;
    flex-basis: 10rem;
    max-width: 300px;
    margin-right: .5rem;
    text-align: center;
    color: #797b80;
    flex-grow: 2;

    
}
.card img {
    max-width: 100%;
    height: auto;
    
}




.card h4 {color: white;}

.card_title {
    height: fit-content;
    padding: 1rem 0;
}

/* last line border radius on image */


.round_cover_img {
    object-fit: cover;
}

.round_cover_img img {
    border-radius: 50%;
}





/*****************************************************************
                        PLAY BUTTON ON HOVER EFECT
***************************************************************/


.cover_img {
    position: relative;
}

.cover_img:hover .play_focus {
    display: block;
}


.play_focus {
    display: none;
    height: auto;
    width: 100%;
    background-color: #0000006e;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.fa-circle-play {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    color: white;
    transform: translate(-50%, -50%);
}


/*******************************************************************
                        PLAYER STYLE START 
*******************************************************************/

.play_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}


#left {
    height: 100%;
    width: calc(100% / 5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: azure; */
}


#central {
    height: 50%;
    flex-grow: 1;

    /* background-color: darkorange; */
}

#right {
    height: 50%;
    width: calc(100% / 5);

    /* background-color: darkgray; */
}

/* left side style start */

#playing_now {
    max-height: 100%;
    display: flex;
    align-items: center;
    color: #797b80;
}


.miniature {
    height: 75px;
    width: auto;
    padding: 1rem .5rem 1rem .5rem;
    object-fit: contain;
}
.miniature img {
    max-height: 100%;
    width: auto;
}

.artist {
    color: white;
    font-weight: bold;
}

.current_track {
    min-width: fit-content;
}

#favourite {
    padding-left: 1rem;
    color: #797b80;
}


/* central part style start */

#central_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top_icons {
    display: flex;
    align-items: center;
}

#top_icons i {
    color: white;
    padding: 0 1rem;
}

#top_icons i:nth-child(3) {
    font-size: 1.5rem;
}

/* *******   CENTRAL PLAYER STYLE BOTTOM     **/

#progress_bar  {
    display: flex;
    align-items: center;
    width: 80%;
    color: #797b80;
}

.processed {
    display: none;
    width: 25%;
    height: 100%;
    background-color: rgb(132, 229, 132);
}


#progress_bar:hover .processed {
    display: block;
}

.entire {
    height: 5px;
    background-color: #797b80;
    width: 100%;
    margin: 0 1rem;
}
/* ***************************************************
                RIGHT SIDE PLAYER BAR
**********************************************************/
#right {
    display: flex;
    align-items: center;
    color: #797b80;
}


#volume {
    height: 5px;
    background-color: #797b80;
    width: 50%;
    margin: 0 1.5rem;
}

#volume:hover .volume_set {
    display: block;
}


.volume_set {
    display: none;
    width: 50%;
    height: 100%;
    background-color: rgb(132, 229, 132);
}