* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto 4rem;
    width: 100%;
    height: 100vh;
}
/**************************************************************
                grid items general styling 
***************************************************************/
.sidebar {
    background-color: black;
    max-height: calc(100vh - 4rem);
    display: flex;
    min-height: 0px;
    flex-direction: column;
}

.main_content {
    background-color: #141922;
    min-height: 0px;
    max-height: calc(100vh - 4rem);

}

.player {
    background-color: brown;
    grid-area: 2 / 1 / 3 / 3;
    height: 4rem;
    position: sticky;
    bottom: 0;
    right: 0;
}
/**************************************************************
                    Sidebar items styling
***************************************************************/
.logo_wrapper {
    padding: 0.5rem 0;
    padding-right: 4rem;
}
.sidebar:first-child {
    padding: 0 1rem;

}
.sidebar ul {
    list-style: none;
    color: #7e7e7e;
    line-height: 2rem;
    margin-top: 2rem;
}

.sidebar ul li:first-child a{
    color: white;

}

.sidebar ul i {
    font-size: 1.7rem;
    margin-right: .5rem;
}

.sidebar ul li a {
    color: #7e7e7e;
    text-decoration: none;
}
.sidebar ul li a:hover {
    color: white;
}

.playlist {
    overflow-y: auto;
}



#space {
    flex-grow: 1;
}


.user_name {
    padding: 0;
}


.user_name a {
    text-decoration: none;
    line-height: 3.5rem;
    color: aliceblue;
}

.user_name div:first-child a{
    color: #7e7e7e;
}
.user_name div:first-child {
    border-bottom: 1px solid #7e7e7e;
}


.fa-circle-user {
    background-color: #7e7e7e;
    font-size: 1.5rem;
    border-radius: 50%;
}
/************************************************************************
                            MAIN CONTENT 
*************************************************************************/
.upgrade {
    padding: 1rem 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: row-reverse;
}

.premium_btn {
    border: 2px solid white;
    color: white;
    border-radius: 35px;
    width: fit-content;
    height: fit-content;
    padding: .5rem;
    align-self: center;
    margin-right: 2rem;
}

.upgrade .premium_btn a{
    color: white;
    text-decoration: none;
}
.upgrade .premium_btn:hover {
    transform: scale(1.1);
}

/***************MUSIC WINDOW START STYLING***************************/

.ul_menu {

    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.ul_menu li  {
    padding: 0 1rem;
}
.ul_menu li a {
    color: #797b80;
    text-decoration: none;
}
.ul_menu li a:hover {
    color: white;
}

/* MAIN WINDOW CONTENT STARTING STYLE */

.main_container {
    padding: 0 1rem;
    max-height: 70vh;
    overflow-y: auto;
}

.main_container section h1 {
    color: white;
    padding-bottom: 1rem;
    margin: 2rem 0 1rem 0;
}

/* **********************************************************
                flex row & card style start 
*/

.proposed {
    /* background-color: aqua; */
    /* width: 100%; */
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    align-content: flex-start;
    row-gap: 1rem;
    padding-bottom: 4rem;
}
.card {
    height: fit-content;
    flex-basis: 10rem;
    max-width: 300px;
    margin-right: .5rem;
    text-align: center;
    color: #797b80;
    flex-grow: 2;

    
}
.card img {
    max-width: 100%;
    height: auto;
    
}




.card h4 {color: white;}

.card_title {
    height: fit-content;
    padding: 1rem 0;
}


.round_cover_img {
    object-fit: cover;
}

.round_cover_img img {
    border-radius: 50%;
}


.cover_img {
    position: relative;
}

.cover_img:hover .play_focus {
    display: block;
}


.play_focus {
    display: none;
    height: auto;
    width: 100%;
    background-color: #0000006e;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.fa-circle-play {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    color: white;
    transform: translate(-50%, -50%);
}



























